html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: auto;
  width: 100%;
  max-width: 1140px; }

header .header_top {
  display: flex; }
  header .header_top .khoang_trang {
    width: 33%; }
  header .header_top .tong_header_top {
    width: 67%;
    background-color: #333333;
    padding: 10px;
    position: relative;
    display: flex; }
    header .header_top .tong_header_top::before {
      content: "";
      display: block;
      clear: both;
      top: 0px;
      left: 0px;
      width: 30px;
      height: 36.5px;
      background-color: #333333;
      transform: skewX(40deg);
      position: absolute;
      margin-left: -15px;
      z-index: 1; }
    header .header_top .tong_header_top .gioi_thieu {
      color: #ffffff;
      margin-left: 11px;
      z-index: 999;
      width: 60%; }
      header .header_top .tong_header_top .gioi_thieu span {
        font-size: 15px; }
    header .header_top .tong_header_top .mang_xa_hoi {
      width: 30%;
      padding-left: 10px; }
      header .header_top .tong_header_top .mang_xa_hoi span {
        font-size: 16px;
        color: #fdfdfd;
        margin-right: 10px; }
        header .header_top .tong_header_top .mang_xa_hoi span:last-child {
          margin-right: 0px; }
header .header_content {
  margin-top: 15px; }
  header .header_content .content {
    display: flex; }
    header .header_content .content .logo {
      width: 30%;
      display: flex; }
      header .header_content .content .logo .img_logo {
        width: 20%;
        padding-right: 15px; }
        header .header_content .content .logo .img_logo a {
          outline: none;
          text-decoration: none; }
          header .header_content .content .logo .img_logo a img {
            width: 100%; }
      header .header_content .content .logo .name_logo {
        padding-top: 5px;
        width: 80%; }
        header .header_content .content .logo .name_logo .font_lon {
          font-size: 25px;
          font-weight: bold;
          text-transform: uppercase;
          color: #303030; }
        header .header_content .content .logo .name_logo .lon_color {
          font-size: 25px;
          font-weight: bold;
          text-transform: uppercase;
          color: #c60e00; }
        header .header_content .content .logo .name_logo .font_nho {
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: #5b5b5b; }
    header .header_content .content .communications {
      width: 70%;
      display: flex;
      margin-top: 10px; }
      header .header_content .content .communications .phone_number {
        width: 60%;
        display: flex; }
        header .header_content .content .communications .phone_number .img_iphone {
          padding-right: 10px; }
          header .header_content .content .communications .phone_number .img_iphone a {
            outline: none;
            text-decoration: none; }
            header .header_content .content .communications .phone_number .img_iphone a img {
              width: 100%; }
        header .header_content .content .communications .phone_number .ho_tro {
          padding-right: 10px;
          position: relative; }
          header .header_content .content .communications .phone_number .ho_tro span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px; }
          header .header_content .content .communications .phone_number .ho_tro::after {
            clear: both;
            content: "";
            display: block;
            border-right: 1px solid #dfdfdf;
            height: 35px;
            position: absolute;
            top: 0px;
            right: 0px; }
        header .header_content .content .communications .phone_number .number {
          position: relative;
          padding-left: 10px;
          padding-right: 13px; }
          header .header_content .content .communications .phone_number .number a {
            outline: none;
            text-decoration: none; }
            header .header_content .content .communications .phone_number .number a span {
              color: #a91605;
              font-weight: bold;
              font-size: 40px; }
          header .header_content .content .communications .phone_number .number::after {
            clear: both;
            content: "";
            display: block;
            border-right: 1px solid #dfdfdf;
            height: 35px;
            position: absolute;
            top: 0px;
            right: 0px; }
      header .header_content .content .communications .skype_yahoo {
        width: 40%;
        display: flex;
        padding-left: 10px; }
        header .header_content .content .communications .skype_yahoo .trao_doi {
          width: 50%; }
          header .header_content .content .communications .skype_yahoo .trao_doi span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px; }
        header .header_content .content .communications .skype_yahoo .img_traodoi {
          width: 50%;
          display: flex;
          padding-top: 5px; }
          header .header_content .content .communications .skype_yahoo .img_traodoi .sky {
            margin-right: 10px;
            width: 40%; }
            header .header_content .content .communications .skype_yahoo .img_traodoi .sky a img {
              width: 100%; }
          header .header_content .content .communications .skype_yahoo .img_traodoi .yahoo {
            width: 50%; }
            header .header_content .content .communications .skype_yahoo .img_traodoi .yahoo a img {
              width: 100%; }

nav {
  margin-top: 15px;
  background-color: #a91605; }
  nav .menu_mobile {
    display: none; }
  nav .nav {
    display: flex;
    position: relative; }
    nav .nav::before {
      height: 56px;
      width: 150px;
      clear: both;
      content: "";
      display: block;
      transform: skewX(-20deg);
      background-color: #ffffff;
      position: absolute;
      margin-left: -150px; }
    nav .nav .menu {
      width: 75%; }
      nav .nav .menu ul li {
        padding: 20px 25px;
        float: left;
        position: relative; }
        nav .nav .menu ul li a {
          outline: none;
          text-decoration: none; }
          nav .nav .menu ul li a span {
            color: #ffffff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px; }
        nav .nav .menu ul li::after {
          border-right: 1px solid #cb7369;
          content: "";
          display: block;
          clear: both;
          height: 25px;
          position: absolute;
          top: 15px;
          right: 0px; }
        nav .nav .menu ul li:last-child::after {
          border-right: none;
          content: "";
          display: block;
          clear: both;
          margin-right: none; }
    nav .nav .search_nav {
      text-align: right;
      padding-top: 17px; }
      nav .nav .search_nav input {
        border: none;
        outline: none;
        background-color: #a91605;
        color: #ffffff; }
      nav .nav .search_nav span {
        color: #ffffff;
        cursor: pointer; }

main .siderbar {
  position: relative; }
  main .siderbar img {
    width: 100%; }
  main .siderbar .content_sides {
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 99999; }
    main .siderbar .content_sides::before {
      content: "";
      display: table;
      clear: both;
      width: 100px;
      height: 5px;
      background-color: #a91605; }
    main .siderbar .content_sides .info span {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.5em;
      font-size: 35px; }
    main .siderbar .content_sides .chi_tiet {
      display: inline-block;
      background-color: #a91605;
      padding: 10px; }
      main .siderbar .content_sides .chi_tiet span {
        color: #ffffff;
        text-transform: uppercase; }
main .dich_vu {
  margin-top: 20px; }
  main .dich_vu .dich_vu_noi_bat {
    display: flex; }
    main .dich_vu .dich_vu_noi_bat .name {
      width: 100%; }
      main .dich_vu .dich_vu_noi_bat .name .name_lon span {
        font-size: 25px;
        color: #a91605;
        font-weight: bold;
        text-transform: uppercase; }
      main .dich_vu .dich_vu_noi_bat .name .name_nho {
        margin-bottom: 13px;
        margin-top: 10px; }
        main .dich_vu .dich_vu_noi_bat .name .name_nho span {
          font-size: 13px;
          color: #cfd3d7;
          font-weight: bold;
          text-transform: uppercase; }
      main .dich_vu .dich_vu_noi_bat .name::after {
        clear: both;
        display: table;
        content: "";
        width: 173px;
        height: 2px;
        background-color: #a91605; }
    main .dich_vu .dich_vu_noi_bat .pagi nav {
      margin-top: 0px !important;
      background-color: #ffffff !important; }
  main .dich_vu .product_dich_vu {
    margin-top: 20px; }
    main .dich_vu .product_dich_vu .product .deital {
      display: flex; }
      main .dich_vu .product_dich_vu .product .deital .item {
        width: 33.33%;
        border: 1px solid #f1f1f1;
        margin-right: 25px; }
        main .dich_vu .product_dich_vu .product .deital .item:last-child {
          margin-right: 0px; }
        main .dich_vu .product_dich_vu .product .deital .item img {
          width: 100%; }
        main .dich_vu .product_dich_vu .product .deital .item .name_product {
          margin: 10px; }
          main .dich_vu .product_dich_vu .product .deital .item .name_product span {
            color: #a91605;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px; }
        main .dich_vu .product_dich_vu .product .deital .item .content_product {
          margin: 15px 10px; }
          main .dich_vu .product_dich_vu .product .deital .item .content_product p {
            color: #868686;
            text-align: justify;
            font-size: 15px;
            line-height: 1.5em; }
        main .dich_vu .product_dich_vu .product .deital .item .chi_tiet_product {
          margin: 10px; }
          main .dich_vu .product_dich_vu .product .deital .item .chi_tiet_product span {
            color: #a91605;
            font-size: 15px; }
main .xe_content {
  margin-top: 20px;
  display: flex; }
  main .xe_content .image_xe {
    width: 50%; }
    main .xe_content .image_xe img {
      width: 100%;
      height: 100%; }
  main .xe_content .content_xe {
    width: 50%;
    background-color: #333333;
    padding: 30px 25px; }
    main .xe_content .content_xe .content_top {
      margin-bottom: 15px; }
      main .xe_content .content_xe .content_top .name_top {
        margin-bottom: 10px; }
        main .xe_content .content_xe .content_top .name_top span {
          color: #ffffff;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 30px; }
      main .xe_content .content_xe .content_top::after {
        clear: both;
        display: table;
        content: "";
        width: 160px;
        height: 3px;
        background-color: #a91605; }
    main .xe_content .content_xe .content_body {
      margin-bottom: 25px; }
      main .xe_content .content_xe .content_body p {
        color: #ffffff;
        text-align: justify;
        line-height: 1.5em;
        font-size: 15px; }
    main .xe_content .content_xe .content_footer span {
      color: #ff1f1f; }
main .tin_tuc {
  margin-top: 20px; }
  main .tin_tuc .top_tin_tuc {
    display: flex; }
    main .tin_tuc .top_tin_tuc .name_tin_tuc {
      width: 100%; }
      main .tin_tuc .top_tin_tuc .name_tin_tuc .name {
        margin-bottom: 10px; }
        main .tin_tuc .top_tin_tuc .name_tin_tuc .name span {
          font-weight: bold;
          font-size: 25px;
          color: #a91605;
          text-transform: uppercase; }
      main .tin_tuc .top_tin_tuc .name_tin_tuc::after {
        content: "";
        clear: both;
        display: table;
        border-bottom: 2px solid #a91605;
        width: 120px; }
    main .tin_tuc .top_tin_tuc .pagi_tin_tuc nav {
      margin-top: 0px !important;
      background-color: transparent !important; }
  main .tin_tuc .product_tin_tuc {
    margin-top: 20px; }
    main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc {
      display: flex; }
      main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc {
        width: 33.33%;
        margin-right: 25px; }
        main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc:last-child {
          margin-right: 0px; }
        main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .img_tin_tuc img {
          width: 100%; }
        main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .name_tin_tuc {
          margin: 10px; }
          main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .name_tin_tuc span {
            text-transform: uppercase;
            font-size: 20px;
            color: #a91605;
            font-weight: bold; }
        main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .content_tin_tuc {
          margin: 10px; }
          main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .content_tin_tuc p {
            color: #868686;
            font-size: 15px;
            text-align: justify;
            line-height: 1.5em; }
        main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .xem_chi_tiet_tin_tuc {
          margin: 10px; }
          main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .xem_chi_tiet_tin_tuc span {
            color: #a91605;
            font-size: 15px; }

footer {
  margin-top: 35px;
  background-color: #333333;
  position: relative; }
  footer .footer {
    display: flex; }
    footer .footer::after {
      clear: both;
      display: table;
      content: "";
      background-color: #333333;
      z-index: 1;
      height: 103%;
      width: 20%;
      position: absolute;
      transform: skewX(-20deg);
      right: 0px;
      top: -13px;
      margin-right: 77px; }
    footer .footer::before {
      clear: both;
      display: table;
      content: "";
      background-color: #a91605;
      z-index: 1;
      height: 103%;
      width: 30%;
      position: absolute;
      transform: skewX(20deg);
      left: 0;
      top: -13px;
      margin-left: -75px; }
    footer .footer .cot_1 {
      width: 40%;
      background-color: #a91605;
      padding-top: 80px;
      position: relative; }
      footer .footer .cot_1 .bao_quat_cot_1 {
        z-index: 10;
        position: relative; }
        footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 {
          display: flex; }
          footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .image_cot_1 {
            margin-right: 20px; }
            footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .image_cot_1 img {
              width: 100%; }
          footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .content_cot_1 {
            padding-top: 5px; }
            footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .content_cot_1 .tieu_deu_cot_1 span {
              text-transform: uppercase;
              font-weight: bold;
              color: #ffff;
              line-height: 1em;
              font-size: 25px; }
            footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .content_cot_1 .noi_dung_cot_1 span {
              text-transform: uppercase;
              color: #ffff;
              font-size: 13px; }
      footer .footer .cot_1 .body_cot_1 {
        margin-top: 25px;
        width: 65%; }
        footer .footer .cot_1 .body_cot_1 p {
          text-align: justify;
          line-height: 1.5em;
          color: #ffffff;
          font-size: 13px; }
      footer .footer .cot_1 .footer_cot_1 {
        margin-top: 25px; }
        footer .footer .cot_1 .footer_cot_1 span {
          color: #ffffff;
          margin-right: 15px; }
    footer .footer .cot_2 {
      padding-top: 80px;
      padding-left: 50px;
      width: 60%;
      display: flex;
      background-color: #333333;
      position: relative; }
      footer .footer .cot_2::after {
        clear: both;
        display: table;
        content: "";
        height: 103%;
        background-color: #333333;
        width: 5%;
        position: absolute;
        right: 0px;
        top: -13px;
        z-index: 2;
        margin-right: -58px; }
      footer .footer .cot_2::before {
        clear: both;
        content: "";
        display: table;
        transform: skewX(-20deg);
        width: 25%;
        height: 100%;
        z-index: 1;
        margin-left: -76px;
        top: 0px;
        left: 0px;
        position: absolute;
        background-color: #333333; }
      footer .footer .cot_2 .footer_1 {
        width: 33.33%;
        z-index: 9999; }
        footer .footer .cot_2 .footer_1 .tieu_de_1 {
          margin-bottom: 5px; }
          footer .footer .cot_2 .footer_1 .tieu_de_1 span {
            color: #ffffff;
            font-weight: bold;
            text-transform: uppercase; }
        footer .footer .cot_2 .footer_1 .content_1 ul li {
          padding: 15px 0px; }
          footer .footer .cot_2 .footer_1 .content_1 ul li:last-child {
            padding-top: 15px;
            padding-bottom: 10px !important; }
          footer .footer .cot_2 .footer_1 .content_1 ul li a {
            outline: none;
            text-decoration: none;
            color: #c1c1c1;
            font-size: 15px; }
      footer .footer .cot_2 .footer_2 {
        width: 33.33%;
        position: relative;
        z-index: 5; }
        footer .footer .cot_2 .footer_2 .tieu_de_2 {
          margin-bottom: 5px; }
          footer .footer .cot_2 .footer_2 .tieu_de_2 span {
            color: #ffffff;
            font-weight: bold;
            text-transform: uppercase; }
        footer .footer .cot_2 .footer_2 .content_2 ul li {
          padding: 15px 0px; }
          footer .footer .cot_2 .footer_2 .content_2 ul li:last-child {
            padding-top: 15px;
            padding-bottom: 10px !important; }
          footer .footer .cot_2 .footer_2 .content_2 ul li a {
            outline: none;
            text-decoration: none;
            color: #c1c1c1;
            font-size: 15px; }
      footer .footer .cot_2 .footer_3 {
        width: 33.33%;
        position: relative;
        z-index: 5; }
        footer .footer .cot_2 .footer_3 .tieu_de_3 {
          margin-bottom: 5px; }
          footer .footer .cot_2 .footer_3 .tieu_de_3 span {
            color: #ffffff;
            font-weight: bold;
            text-transform: uppercase; }
        footer .footer .cot_2 .footer_3 .content_3 ul li {
          padding: 15px 0px; }
          footer .footer .cot_2 .footer_3 .content_3 ul li:last-child {
            padding-top: 15px;
            padding-bottom: 10px !important; }
          footer .footer .cot_2 .footer_3 .content_3 ul li a {
            outline: none;
            text-decoration: none;
            color: #c1c1c1;
            font-size: 15px; }

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  header .communications {
    text-align: center; }
    header .communications .phone_number .number span {
      font-size: 30px !important; }

  nav .menu_mobile {
    display: flex; }
    nav .menu_mobile .search_bar {
      padding-top: 7px; }
      nav .menu_mobile .search_bar input {
        background-color: #a91605;
        outline: none;
        color: #ffffff; }
      nav .menu_mobile .search_bar span {
        cursor: pointer;
        margin-left: -5px;
        border: 1px solid;
        padding: 2px 1px; }
    nav .menu_mobile .bar {
      padding: 10px;
      width: 70%;
      cursor: default; }
      nav .menu_mobile .bar #menu {
        cursor: pointer; }
      nav .menu_mobile .bar .is_active_menu i::before {
        content: "\f00d" !important; }
  nav .nav::before {
    display: none; }
  nav .nav .search_nav {
    display: none; }
  nav .nav .menu {
    width: 100%; }
    nav .nav .menu ul li {
      padding: 10px 20px !important; }
      nav .nav .menu ul li::after {
        display: none; }
  nav .nav_hide {
    display: none !important; }

  footer .footer::before {
    margin-left: 0px; }
  footer .footer::after {
    margin-right: 81px; }
  footer .footer .cot_1 {
    position: relative; }
    footer .footer .cot_1::before {
      display: table;
      clear: both;
      content: "";
      width: 10%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #a91605;
      margin-left: -15px;
      z-index: 1; }
  footer .footer .cot_2::before {
    display: none; }
  footer .footer .cot_2::after {
    margin-right: -15px; } }
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  header .header_top .khoang_trang {
    display: none; }
  header .header_top .tong_header_top {
    width: 100%;
    text-align: center;
    flex-direction: column; }
    header .header_top .tong_header_top::before {
      display: none !important; }
    header .header_top .tong_header_top .gioi_thieu {
      color: #ffffff;
      margin-left: 0px;
      z-index: 999;
      width: 100%; }
    header .header_top .tong_header_top .mang_xa_hoi {
      width: 100%;
      padding-left: 0px;
      margin-top: 10px; }
  header .header_content {
    margin-top: 0px; }
    header .header_content .content {
      display: block; }
      header .header_content .content .logo {
        width: 100%;
        text-align: center; }
        header .header_content .content .logo .img_logo {
          display: none; }
        header .header_content .content .logo .name_logo {
          width: 100%; }
          header .header_content .content .logo .name_logo .font_lon {
            font-size: 30px; }
            header .header_content .content .logo .name_logo .font_lon .lon_color {
              font-size: 30px; }
      header .header_content .content .communications {
        width: 100%;
        display: block; }
        header .header_content .content .communications .phone_number {
          width: 100%;
          text-align: center; }
          header .header_content .content .communications .phone_number .img_iphone {
            display: none; }
          header .header_content .content .communications .phone_number .number {
            padding-left: 0px;
            width: 35%; }
            header .header_content .content .communications .phone_number .number span {
              font-size: 23px !important; }
            header .header_content .content .communications .phone_number .number::after {
              display: none; }
          header .header_content .content .communications .phone_number .ho_tro {
            width: 50%; }
            header .header_content .content .communications .phone_number .ho_tro::after {
              display: none; }
        header .header_content .content .communications .skype_yahoo {
          width: 100%;
          text-align: center;
          margin-top: 5px;
          padding-left: 0px; }
          header .header_content .content .communications .skype_yahoo .trao_doi {
            width: 50%; }
          header .header_content .content .communications .skype_yahoo .img_traodoi {
            width: 35%;
            padding-top: 0px; }

  nav .menu_mobile {
    display: flex; }
    nav .menu_mobile .search_bar {
      padding-top: 7px; }
      nav .menu_mobile .search_bar input {
        background-color: #a91605;
        outline: none;
        color: #ffffff; }
      nav .menu_mobile .search_bar span {
        cursor: pointer;
        margin-left: -5px;
        border: 1px solid;
        padding: 2px 1px; }
    nav .menu_mobile .bar {
      padding: 10px;
      width: 50%;
      cursor: default; }
      nav .menu_mobile .bar #menu {
        cursor: pointer; }
      nav .menu_mobile .bar .is_active_menu i::before {
        content: "\f00d" !important; }
  nav .nav::before {
    display: none; }
  nav .nav .search_nav {
    display: none; }
  nav .nav .menu {
    width: 100%; }
    nav .nav .menu ul li {
      padding: 10px 20px !important; }
      nav .nav .menu ul li::after {
        display: none; }
  nav .nav_hide {
    display: none !important; }

  main .siderbar .content_sides {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 99999; }
    main .siderbar .content_sides::before {
      width: 80px !important;
      height: 3px !important; }
    main .siderbar .content_sides .info span {
      font-size: 25px !important; }
    main .siderbar .content_sides .chi_tiet span {
      font-size: 15px !important; }
  main .xe_content {
    flex-direction: column; }
    main .xe_content .image_xe {
      width: 100%; }
    main .xe_content .content_xe {
      width: 100%; }
  main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc {
    flex-direction: column; }
    main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc {
      width: 100%; }
      main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc .name_tin_tuc span {
        font-size: 20px; }

  footer .footer {
    flex-direction: column-reverse; }
    footer .footer::after {
      display: none; }
    footer .footer::before {
      display: none; }
    footer .footer .cot_1 {
      width: 100%;
      padding-top: 20px; }
      footer .footer .cot_1::after {
        display: table;
        content: "";
        clear: both;
        height: 100%;
        width: 10%;
        background-color: #a91605;
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: -15px; }
      footer .footer .cot_1::before {
        display: table;
        content: "";
        clear: both;
        height: 100%;
        width: 10%;
        background-color: #a91605;
        position: absolute;
        left: 0px;
        top: 0px;
        margin-left: -15px; }
      footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 {
        display: block; }
        footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .image_cot_1 {
          display: none; }
        footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .content_cot_1 {
          text-align: center; }
      footer .footer .cot_1 .bao_quat_cot_1 .body_cot_1 {
        width: 100%;
        padding: 10px; }
      footer .footer .cot_1 .bao_quat_cot_1 .footer_cot_1 {
        text-align: center;
        padding-bottom: 15px; }
    footer .footer .cot_2 {
      padding-top: 20px;
      width: 100%;
      padding-left: 0px; }
      footer .footer .cot_2::before {
        display: none; }
      footer .footer .cot_2::after {
        display: none; } }
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  header .header_top .khoang_trang {
    display: none; }
  header .header_top .tong_header_top {
    width: 100%;
    text-align: center;
    flex-direction: column; }
    header .header_top .tong_header_top::before {
      display: none !important; }
    header .header_top .tong_header_top .gioi_thieu {
      color: #ffffff;
      margin-left: 0px;
      z-index: 999;
      width: 100%; }
    header .header_top .tong_header_top .mang_xa_hoi {
      width: 100%;
      padding-left: 0px;
      margin-top: 10px; }
  header .header_content {
    margin-top: 0px; }
    header .header_content .content {
      display: block; }
      header .header_content .content .logo {
        width: 100%;
        text-align: center; }
        header .header_content .content .logo .img_logo {
          display: none; }
        header .header_content .content .logo .name_logo {
          width: 100%; }
          header .header_content .content .logo .name_logo .font_lon {
            font-size: 30px; }
            header .header_content .content .logo .name_logo .font_lon .lon_color {
              font-size: 30px; }
      header .header_content .content .communications {
        width: 100%;
        display: block; }
        header .header_content .content .communications .phone_number {
          width: 100%;
          text-align: center; }
          header .header_content .content .communications .phone_number .number {
            padding-left: 0px; }
            header .header_content .content .communications .phone_number .number span {
              font-size: 23px !important; }
            header .header_content .content .communications .phone_number .number::after {
              display: none; }
          header .header_content .content .communications .phone_number .ho_tro::after {
            display: none; }
        header .header_content .content .communications .skype_yahoo {
          width: 100%;
          text-align: center;
          margin-top: 5px;
          padding-left: 0px; }
          header .header_content .content .communications .skype_yahoo .img_traodoi {
            padding-top: 0px; }

  nav .menu_mobile {
    display: flex; }
    nav .menu_mobile .search_bar {
      padding-top: 7px; }
      nav .menu_mobile .search_bar input {
        background-color: #a91605;
        outline: none;
        color: #ffffff; }
      nav .menu_mobile .search_bar span {
        cursor: pointer;
        margin-left: -5px;
        border: 1px solid;
        padding: 2px 1px; }
    nav .menu_mobile .bar {
      padding: 10px;
      width: 30%;
      cursor: default; }
      nav .menu_mobile .bar #menu {
        cursor: pointer; }
      nav .menu_mobile .bar .is_active_menu i::before {
        content: "\f00d" !important; }
  nav .nav::before {
    display: none; }
  nav .nav .search_nav {
    display: none; }
  nav .nav .menu {
    width: 100%; }
    nav .nav .menu ul li {
      padding: 10px !important; }
      nav .nav .menu ul li::after {
        display: none; }
  nav .nav_hide {
    display: none !important; }

  main .siderbar .content_sides {
    top: 26%;
    left: 20%; }
    main .siderbar .content_sides::before {
      width: 55px !important;
      height: 2px !important; }
    main .siderbar .content_sides .info span {
      font-size: 14px !important; }
    main .siderbar .content_sides .chi_tiet {
      padding: 5px; }
      main .siderbar .content_sides .chi_tiet span {
        font-size: 10px !important; }
  main .dich_vu .product_dich_vu .product .deital {
    flex-direction: column; }
    main .dich_vu .product_dich_vu .product .deital .item {
      width: 100% !important;
      margin-right: 0px;
      margin-bottom: 15px; }
  main .xe_content {
    flex-direction: column; }
    main .xe_content .image_xe {
      width: 100%; }
    main .xe_content .content_xe {
      width: 100%; }
  main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc {
    display: flex;
    flex-direction: column; }
    main .tin_tuc .product_tin_tuc .product_deital_tin_tuc .deital_tin_tuc .item_tin_tuc {
      width: 100%; }

  footer .footer {
    flex-direction: column-reverse; }
    footer .footer::after {
      display: none; }
    footer .footer::before {
      display: none; }
    footer .footer .cot_1 {
      width: 100%;
      padding-top: 20px; }
      footer .footer .cot_1::after {
        display: table;
        content: "";
        clear: both;
        height: 100%;
        width: 10%;
        background-color: #a91605;
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: -15px; }
      footer .footer .cot_1::before {
        display: table;
        content: "";
        clear: both;
        height: 100%;
        width: 10%;
        background-color: #a91605;
        position: absolute;
        left: 0px;
        top: 0px;
        margin-left: -15px; }
      footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 {
        display: block; }
        footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .image_cot_1 {
          display: none; }
        footer .footer .cot_1 .bao_quat_cot_1 .top_cot_1 .content_cot_1 {
          text-align: center; }
      footer .footer .cot_1 .bao_quat_cot_1 .body_cot_1 {
        width: 100%;
        padding: 10px; }
      footer .footer .cot_1 .bao_quat_cot_1 .footer_cot_1 {
        text-align: center;
        padding-bottom: 15px; }
    footer .footer .cot_2 {
      padding-top: 20px;
      width: 100%;
      padding-left: 0px; }
      footer .footer .cot_2::before {
        display: none; }
      footer .footer .cot_2::after {
        display: none; } }

/*# sourceMappingURL=stye.css.map */
